/* Agrega aqui tu CSS */
/* Agrega aqui tu CSS *//* Agrega aqui tu CSS */
.primero{
border: 2px solid #FF0000;
display: block;
margin:0px 500px;
}
.segundo{
border: 2px solid #FF0000;
display: block;
margin:0px 500px;
}
.tercero{
border: 2px solid #FF0000;
display: block;
margin:0px 500px;
}

